/* --------------------
        全体
-------------------- */

:root {
  --theme-color: #222;
}

* {
  box-sizing: border-box;
}

html,
body {
  background-color: #fff;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 30px;
  color: #333;
}

/* --------------------
        見出し
-------------------- */

h1,
h2,
h3 {
  color: var(--theme-color);
  border-bottom: dashed 0.1em var(--theme-color);
}

/* --------------------
        リンク
-------------------- */

a {
  color: #33d;
  text-decoration: underline;
}

/* --------------------
        リスト
-------------------- */

ul {
  list-style: none;
}

li:before {
  content: "○ ";
  color: var(--theme-color);
}

/* --------------------
          表
-------------------- */

table {
  border-spacing: 0;
  border-collapse: collapse;
  border: solid 1px #eee;
  min-width: 70%;
}

tr {
  background-color: #eee;
}

tr:nth-child(2n) {
  background-color: #ddd;
}

th {
  background: var(--theme-color);
  color: #eee;
}

th,
td {
  border: solid 1px #ddd;
  padding: 0.5rem;
}

/* --------------------
    背景と同化させる
-------------------- */

.bg-same {
  color: #fff;
}
